@page
@model CTRestaurant.App.Frontend.Pages.EditarModel
@{
}
 <h1>Editar Profesor</h1>
 <form method ="post">
     <input type= "hidden" asp-for="profesor.id">
      <div class ="form-group">
         <label asp-for="profesor.nombre"></label>
         <input asp-for="profesor.nombre" class="form-control">
         <span class="text-danger" asp-validation-for="profesor.nombre"></span>
     </div>
     <div class ="form-group">
         <label asp-for="profesor.apellido"></label>
         <input asp-for="profesor.apellido" class="form-control">
         <span class="text-danger" asp-validation-for="profesor.apellido"></span>
     </div>
     <div class ="form-group">
         <label asp-for="profesor.Facultad"></label>
         <input asp-for="profesor.Facultad" class="form-control">
     </div>
      <div class ="form-group">
         <label asp-for="profesor.Cubiculo"></label>
         <input asp-for="profesor.Cubiculo" class="form-control">
     </div>
     <div class ="form-group">
         <label asp-for="profesor.identificacion"></label>
         <input asp-for="profesor.identificacion" class="form-control">
         <span class="text-danger" asp-validation-for="profesor.identificacion"></span>
     </div>
     <div class ="form-group">
         <label asp-for="profesor.edad"></label>
         <input asp-for="profesor.edad" class="form-control">
     </div>
     <button type="submit" class="btn btn-primary">Guardar Cambios></button>
 </form>