@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h3>Cyber Team Restaurant</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
